@font-face {
    font-family: 'Metropolis Black';
    src: url('/assets/fonts/Metropolis-Black.woff2') format('woff2'),
        url('/assets/fonts/Metropolis-Black.woff') format('woff');
}

@font-face {
    font-family: 'Questrial';
    src: url('/assets/fonts/Questrial-Regular.ttf') format('ttf'),
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/assets/fonts/UbuntuMono-Regular.ttf') format('ttf'),
}